<html xmlns:th="https://www.thymeleaf.org">

<head th:include="layout :: head(title=~{::title},links=~{})">
    <title>Please Login</title>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Logic - Free Html Multipurpose Business Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <!--Google Font link-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">

        <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="../assets/css/magnific-popup.css">


        <!--For Plugins external css-->
        <link rel="stylesheet" href="../assets/css/plugins.css" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="../assets/css/style.css">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="../assets/css/responsive.css" />

        <script src="../assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
</head>

<body th:include="layout :: body" th:with="content=~{::content}">
    <div class="col-sm-3 col-xs-12">
        <div th:fragment="content">
            <form name="f" th:action="@{/login}" method="post">
                <fieldset>
                    <label for="oldpass">Old Password</label>
                    <input type="text" class="form-control" id="oldpass" name="oldpass" />
                    <label for="newpassword">New Password</label>
                    <input type="newpassword" class="form-control" width="200px" id="newpassword" name="newpassword" />
                    <div class="form-actions">
                        <br>
                        <button type="submit" class="submit_btn">Change password</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>>
</body>

</html>