<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Logic - Free Html Multipurpose Business Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!--Google Font link-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">

    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/magnific-popup.css">


    <!--For Plugins external css-->
    <link rel="stylesheet" href="../assets/css/plugins.css" />

    <!--Theme custom css -->
    <link rel="stylesheet" href="../assets/css/style.css">

    <!--Theme Responsive css-->
    <link rel="stylesheet" href="../assets/css/responsive.css" />

    <script src="../assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body th:include="layout :: body" th:with="content=~{::content}">
    <div th:fragment="content">
        <div class="col-sm-3 col-xs-12">
            <form name="f" th:action="@{/login}" method="post">
                <fieldset>
                    <legend>Please Login</legend>
                    <div th:if="${param.error}" class="alert alert-error">
                        Invalid username and password.
                    </div>
                    <div th:if="${param.logout}" class="alert alert-success">
                        You have been logged out.
                    </div>
                    <label for="username">Username</label>
                    <input class="form-control" type="text" id="username" name="username" />
                    <label for="password">Password</label>
                    <input class="form-control" type="password" id="password" name="password" />
                    <div class="form-actions">
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Log in</button>
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Reset Password</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</body>

</html>