<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <style>
        .text h1 {
            background-color: #ff8e00;
            color: #ffffff;
        }
        .text h2 {
            color: #ff8e00;
        }
        .text a {
            color: #35006a;
            text-decoration-line: underline;
            font-size: larger;
            padding-bottom: 10px;
        }
        a:hover {
            transition: all 0.3s cubic-bezier(0, 0, 0.23, 1);
            color: #ff6104;;
        }
    </style>
</head>
<body>
<div class="text">
    <h1>HttpServerStatusError 404</h1>
    <h2>Sorry, the page you are looking for can not be found.</h2>
    <a href="/">Return to main site.</a>
</div>
</body>
</html>